<template name="createSoftware">

  <form class="main">

    <label class="control-label" for="name">software</label>

    <div class="control-group">
      <label class="control-label" for="name">name</label>
      <div class="controls">
        <input name="name" type="text" value="" placeholder="software name"/>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="ok" class="btn btn-primary"/>
      </div>
    </div>

  </form>

</template>